output {
  if [@metadata][pipeline] {
     # Pipeline
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      manage_template => false
      index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
      pipeline => "%{[@metadata][pipeline]}" 
    }
    # Store local copy of log
    if [host][name] {
      file {
        path => "/var/log/logstash/%{[host][name]}/%{+YYYY-MM-dd}%{source}"
        #codec => line { format => "custom format: %{message}"}
      }
      file {
        path => "/var/log/logstash/%{+YYYY-MM-dd}%{source}"
      }
    } else {
      file {
        path => "/var/log/logstash/%{host]}/%{+YYYY-MM-dd}%{path}"
      }
      file {
        path => "/var/log/logstash/%{+YYYY-MM-dd}%{path}"
      }
    }
  } else if [@metadata][beat] {
    # NO pipeline
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      manage_template => false
      index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
      #index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
      #document_type => "%{[@metadata][type]}"
    }
    # Store local copy of log
    if [host][name] {
      file {
        path => "/var/log/logstash/%{[host][name]}/%{+YYYY-MM-dd}%{source}"
      }
      file {
        path => "/var/log/logstash/%{+YYYY-MM-dd}%{source}"
      }
    } else {
      file {
        path => "/var/log/logstash/%{host]}/%{+YYYY-MM-dd}%{path}"
      }
      file {
        path => "/var/log/logstash/%{+YYYY-MM-dd}%{path}"
      }
    }
  } else {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
    }
    # Store local copy of log
    if [host][name] {
      file {
        path => "/var/log/logstash/%{[host][name]}/%{+YYYY-MM-dd}%{source}"
      }
      file {
        path => "/var/log/logstash/%{+YYYY-MM-dd}%{source}"
      }
    } else {
      file {
        path => "/var/log/logstash/%{host]}/%{+YYYY-MM-dd}%{path}"
      }
      file {
        path => "/var/log/logstash/%{+YYYY-MM-dd}%{path}"
      }
    }
  }
}
